src/main/resources/ehospital.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://example.com/ehospital"
    targetNamespace="http://example.com/ehospital"
    elementFormDefault="qualified">

    <xs:element name="PatientRegisterRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="fullNames" type="xs:string"></xs:element>
                <xs:element name="username" type="xs:string"></xs:element>
                <xs:element name="gender" type="tns:UserGenderType"></xs:element>
                <xs:element name="age" type="xs:int"></xs:element>
                <xs:element name="password" type="xs:string"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="PatientRegisterResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="registered" type="xs:boolean" />
                <xs:element name="message" type="xs:string" />
                <xs:element name="User" type="tns:PatientDetails" minOccurs="1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="PhysicianRegisterRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="fullNames" type="xs:string"></xs:element>
                <xs:element name="email" type="xs:string"></xs:element>
                <xs:element name="gender" type="tns:UserGenderType"></xs:element>
                <xs:element name="age" type="xs:int"></xs:element>
                <xs:element name="password" type="xs:string"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="PhysicianRegisterResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="registered" type="xs:boolean" />
                <xs:element name="message" type="xs:string" />
                <xs:element name="Physician" type="tns:PhysicianDetails" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="PharmacistRegisterRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="fullNames" type="xs:string"></xs:element>
                <xs:element name="phone" type="xs:string"></xs:element>
                <xs:element name="gender" type="tns:UserGenderType"></xs:element>
                <xs:element name="age" type="xs:int"></xs:element>
                <xs:element name="password" type="xs:string"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="PharmacistRegisterResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="registered" type="xs:boolean" />
                <xs:element name="message" type="xs:string" />
                <xs:element name="Pharmacist" type="tns:PharmacistDetails" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AuthRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:choice>
                    <xs:element name="username" type="xs:string" />
                    <xs:element name="email" type="xs:string" />
                    <xs:element name="phone" type="xs:string" />
                </xs:choice>
                <xs:element name="password" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AuthResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="authenticated" type="xs:boolean" />
                <xs:element name="message" type="xs:string" />
                <xs:element name="token" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="PhysicianAuthRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="email" type="xs:string" />
                <xs:element name="password" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="PhysicianAuthResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="authenticated" type="xs:boolean" />
                <xs:element name="message" type="xs:string" />
                <xs:element name="token" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="PharmacistLoginRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="phone" type="xs:string" />
                <xs:element name="password" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="PharmacistLoginResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="authenticated" type="xs:boolean" />
                <xs:element name="message" type="xs:string" />
                <xs:element name="token" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAllPhysiciansRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AuthorizationHeader" type="tns:AuthorizationHeader" minOccurs="1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAllPhysiciansResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Physicians" type="tns:PhysicianDetails" maxOccurs="unbounded"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAllPharmacistsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AuthorizationHeader" type="tns:AuthorizationHeader" minOccurs="1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAllPharmacistsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Pharmacists" type="tns:PharmacistDetails" maxOccurs="unbounded"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="SelectPhysicianRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AuthorizationHeader" type="tns:AuthorizationHeader" minOccurs="1" />
                <xs:element name="physicianEmail" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="SelectPhysicianResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="xs:string" />
                <xs:element name="User" type="tns:PatientDetails" minOccurs="1" />
                <xs:element name="selectedPhysician" type="tns:PhysicianDetails" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GiveConsultationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AuthorizationHeader" type="tns:AuthorizationHeader" minOccurs="1" />
                <xs:element name="patientUsername" type="xs:string" />
                <xs:element name="diseaseName" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GiveConsultationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="xs:string" />
                <xs:element name="User" type="tns:PatientDetails" minOccurs="1" />
                <xs:element name="Consultation" type="tns:PatientConsultation" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AddMedecineRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AuthorizationHeader" type="tns:AuthorizationHeader" minOccurs="1" />
                <xs:element name="medName" type="xs:string"></xs:element>
                <xs:element name="medPrice" type="xs:double"></xs:element>
                <xs:element name="expirationDate" type="xs:string"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AddMedecineResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Added" type="xs:boolean" />
                <xs:element name="message" type="xs:string" />
                <xs:element name="Medecine" type="tns:MedecineDetails" minOccurs="1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAllMedecinesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AuthorizationHeader" type="tns:AuthorizationHeader" minOccurs="1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAllMedecinesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Medecines" type="tns:MedecineDetails" maxOccurs="unbounded"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="PatientDetails">
        <xs:sequence>
            <xs:element name="id" type="xs:string"></xs:element>
            <xs:element name="fullNames" type="xs:string"></xs:element>
            <xs:element name="username" type="xs:string"></xs:element>
            <xs:element name="gender" type="tns:UserGenderType"></xs:element>
            <xs:element name="age" type="xs:int"></xs:element>
            <xs:element name="role" type="tns:UserRoleTypes"></xs:element>
            <xs:element name="password" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PhysicianDetails">
        <xs:sequence>
            <xs:element name="id" type="xs:string"></xs:element>
            <xs:element name="fullNames" type="xs:string"></xs:element>
            <xs:element name="email" type="xs:string"></xs:element>
            <xs:element name="gender" type="tns:UserGenderType"></xs:element>
            <xs:element name="age" type="xs:int"></xs:element>
            <xs:element name="role" type="tns:UserRoleTypes"></xs:element>
            <xs:element name="password" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PharmacistDetails">
        <xs:sequence>
            <xs:element name="id" type="xs:string"></xs:element>
            <xs:element name="fullNames" type="xs:string"></xs:element>
            <xs:element name="phone" type="xs:string"></xs:element>
            <xs:element name="gender" type="tns:UserGenderType"></xs:element>
            <xs:element name="age" type="xs:int"></xs:element>
            <xs:element name="role" type="tns:UserRoleTypes"></xs:element>
            <xs:element name="password" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AuthorizationHeader">
        <xs:sequence>
            <xs:element name="Token" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="UserGenderType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Male" />
            <xs:enumeration value="Female" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="UserRoleTypes">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Patient" />
            <xs:enumeration value="Physician" />
            <xs:enumeration value="Pharmacist" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="PatientConsultation">
        <xs:sequence>
            <xs:element name="PatientUsername" type="xs:string" />
            <xs:element name="diseaseName" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MedecineDetails">
        <xs:sequence>
            <xs:element name="medName" type="xs:string"></xs:element>
            <xs:element name="medPrice" type="xs:string"></xs:element>
            <xs:element name="expirationDate" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>